@page
@model Mgmt1.Pages.Admin.Employees.CreateModel

<div class="row">
    <div class="col-m-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">New Employee</h2>

        @if (Model.errorMessage.Length > 0)
        {
            <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                <strong>@Model.errorMessage</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }
        else if (Model.errorMessage.Length > 0)
        {
            <div class='alert alert-success alert-dismissible fade show' role='alert'>
                <strong>@Model.successMessage</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }


        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">FirstName</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="EmployeeDto.FirstName" />
                    <span asp-validation-for="EmployeeDto.FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">LastName</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="EmployeeDto.LastName" />
                    <span asp-validation-for="EmployeeDto.LastName" class="text-danger"></span>
                </div>
            </div>

     

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Position</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="EmployeeDto.Position">
                        <option value="Other">Other</option>
                        <option value="Programmer">Programmer</option>
                        <option value="Manager">Manager</option>
                        <option value="Designer">Designer</option>
                        <option value="Analyst">Analyst</option>
                        <option value="HR Specialist">HR Specialist</option>
                        <option value="Sales Representative">Sales Representative</option>
                        <option value="Project Manager">Project Manager</option>
                        <option value="Data Scientist">Data Scientist</option>
                    </select>
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">PhoneNumber</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="EmployeeDto.PhoneNumber" />
                    <span asp-validation-for="EmployeeDto.PhoneNumber" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="EmployeeDto.Email"></textarea>
                    <span asp-validation-for="EmployeeDto.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Image</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="EmployeeDto.ImageFile" />
                    <span asp-validation-for="EmployeeDto.ImageFile" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" href="/Admin/Employees/Index" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
